footer
    width: 100%
    margin: 0 auto
    padding: 4% 6%
    color: #ffffff
    background-color: #000000
    a
        color: #ffffff
    > h2
        font-size: rem(29)
        margin-bottom: rem(32)
    > p
        color: #ffffff
        font-size: rem(16)
        margin-bottom: rem(69)
        a
            margin-left: rem(16)
    div
        display: flex
        a
            display: inline-block
            &:first-child
                margin-right: rem(78)
            img
                margin-bottom: rem(21)
            p
                font-size: rem(16)
