header
    display: flex
    justify-content: space-between
    padding: 2.4375rem 2.8125rem
    h1
        font-size: 1.1rem
        font-weight: normal
    div
        display: flex
        justify-content: right
        nav
            display: flex
            padding-right: 1rem
            a
                color: #000000
                font-size: 1.1rem
                font-weight: normal
                margin: 0 2rem
        .language
            display: flex
            border-left: 1px solid #707070
            padding: 0 2rem
            a
                color: #A7A7A7
                &.active
                    color: #000000
            span
                color: #000000
                margin: 0 0.25rem
