footer
    h2 openBDプロジェクト
    p お問い合わせ
        a(href="mailto:info@openbd.jp") info@openbd.jp
    div
        a(href="https://calil.jp/")
            img(src="assets/logo-calil.svg", alt="カーリル")
            p 
                | 株式会社カーリル
                br
                | 岐阜県中津川市坂下1645-15

        a(href="https://hanmoto.com/")
            img(src="assets/logo-hanmoto.svg", alt="版元ドットコム")
            p
                | 版元ドットコム
                br
                | 東京都渋谷区神宮前2-33-18-303
