header
    h1
        a(href="/") openBD
    div
        nav
            a.active(href="/#introduction") はじめに
            a(href="/#api") API仕様
            a(href="tos.html") 利用規約
            a(href="faq.html") よくある質問
            a(href="/#materials") 各種資料
        .language
            a.active(href="/") JP
            span /
            a(href="") EN