header
    h1 openBD
    nav
        ul
            li
                a.active(href="/#introduction") はじめに
            li
                a(href="/#api") API仕様
            li
                a(href="tos.html") 利用規約
            li
                a(href="faq.html") よくある質問
            li
                a(href="/#materials") 各種資料
    .language
        a.active(href="/") JP
        span /
        a(href="") EN