doctype html
head
  meta(charset='UTF-8')
  title openBD | よくある質問
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel="stylesheet", href="./index.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=M+PLUS+1p:700&display=swap")

body#index
    include header.pug
    main
        article
            section
                h2 よくある質問

                h3 Q1.どこで使えますか？
                p openBD APIが提供するのはデータの「利用権」です。openBD APIが提供する書誌・書影・内容紹介・書評情報などすべての情報は、本の販促・紹介目的に限り使用できます。個人・団体・企業を問いません。提供するデータには近刊情報が含まれますから書誌の内容や書影が時間とともに変更・修正、さらには削除される可能性があります。利用側の事情で書誌データをキャッシュする場合は、データの変更をできるだけ早く反映するようにしてください。個別の書誌・書影情報について、openBDプロジェクトからの削除要請があった場合には、速やかにそれに従うものとします。openBD APIから得られたデータを、任意に改変してはいけません。不具合の報告や改善の提案は歓迎します。

    include footer.pug