doctype html
head
  meta(charset='UTF-8')
  title openBD | 書誌情報・書影を自由に
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel="stylesheet", href="./index.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=M+PLUS+1p:700&display=swap")

body#index
    include _header.pug
    main
        article
            section#hero
                div
                    h2 書誌情報・書影を自由に
                    p
                        nobr
                            | 私たちopenBDプロジェクトは書誌情報・書影を、だれでも
                            wbr
                            | 自由に使える、高速なAPIで提供します。
                div
                    a.button(href="") API仕様
                    div
                        a(href="") APIデバッガー
                        a(href="") ライブテスト
            section#new
                h2 新着書誌

            section#introduction
                h2 なぜopenBDか？
                div
                    div
                        h3 パフォーマンス
                        p 私たちopenBDプロジェクト（カーリル・版元ドットコム）は書誌情報・書影を、だれでも自由に使える、高速なAPIで提供します。

                    div
                        h3 信頼性
                        p 私たちopenBDプロジェクト（カーリル・版元ドットコム）は書誌情報・書影を、だれでも自由に使える、高速なAPIで提供します。

                    div
                        h3 生産性
                        p 私たちopenBDプロジェクト（カーリル・版元ドットコム）は書誌情報・書影を、だれでも自由に使える、高速なAPIで提供します。

            section#api
                h2 API仕様  
                ul
                    li 書誌情報1件あたり1ミリ秒以下での応答（超高速）
                    li 全件取得やデータ同期を推奨するAPI設計（大量アクセス対応）
                    li 国内の複数データセンターにエッジサーバーを展開（さくらインターネット・AWS・GCPに順次展開予定）
                    li 複数のCDNサービスに対応した書影情報の配信
                    li 大規模サービス向けにキャッシュサーバーをオープンソース化                    
                h3 書誌情報の取得
                    span GET
                a.endpoint(href="https://api.openbd.jp/v1/get?isbn=978-4-7808-0204-7&pretty") /get?isbn=ISBN,ISBN
                br
                a.doc(href="https://openbd.jp/spec/") データ仕様書はこちら
                h3 収録範囲の取得
                    span GET
                a.endpoint(href="https://api.openbd.jp/v1/coverage") /coverage
                h3 JSONスキーマの取得
                    span GET
                a.endpoint(href="https://api.openbd.jp/v1/schema?pretty") /schema

            section#case
                h2 openBDの活用事例
                p 私たちopenBDプロジェクト（カーリル・版元ドットコム）は書誌情報・書影を、だれでも自由に使える、高速なAPIで提供します。個人が、SNSやブログで本を紹介するとき書店が、仕入れや、販売のために本を紹介するとき図書館が、選書し、利用者に本を紹介するときメディアが、本を紹介し評するとき


            section#tos
                h2 ガイドライン・利用規約
                a.button(href="") 利用規約はこちら
                ul
                    li openBD APIが提供するのはデータの「利用権」です。
                    li openBD APIが提供する書誌・書影・内容紹介・書評情報などすべての情報は、本の販促・紹介目的に限り使用できます。個人・団体・企業を問いません。
                    li 提供するデータには近刊情報が含まれますから書誌の内容や書影が時間とともに変更・修正、さらには削除される可能性があります。利用側の事情で書誌データをキャッシュする場合は、データの変更をできるだけ早く反映するようにしてください。
                    li 個別の書誌・書影情報について、openBDプロジェクトからの削除要請があった場合には、速やかにそれに従うものとします。
                    li openBD APIから得られたデータを、任意に改変してはいけません。不具合の報告や改善の提案は歓迎します。

            section#materials
                h2 各種資料

    include _footer.pug