doctype html
head
  meta(charset='UTF-8')
  title openBD | 書誌情報・書影を自由に
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel="stylesheet", href="../index.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=M+PLUS+1p:700&display=swap")

body
    #container
        nav
            ul
                li
                    a.active(href="") はじめに
                li
                    a(href="") API仕様
                li
                    a(href="") 利用規約
                li
                    a(href="") 活用事例
                li
                    a(href="") お問い合わせ
        main
            header
                img(src="assets/logo@2x.png", alt="openBD", width="389")
                h2
                    | Free bibliographic information and calligraphy
            section
                article
                    h1 はじめに
                    p
                        | 私たちopenBDプロジェクト（カーリル・版元ドットコム）は書誌情報・書影を、だれでも自由に使える、高速なAPIで提供します。
                        ul
                            li
                                | 個人が、SNSやブログで本を紹介するとき
                            li
                                | 書店が、仕入れや、販売のために本を紹介するとき
                            li
                                | 図書館が、選書し、利用者に本を紹介するとき
                            li
                                | メディアが、本を紹介し評するとき
                            li
                                | 企業が、書誌情報・書影を利用したあらたなサービスを開発するとき
                    p
                        | こうしたときに、自由に使える書誌情報・書影を、高速なAPIで提供するopenBDの提供を開始します。
                        | オープンな本のデータが、本の世界をますます豊かにすると考えるからです。
                        | openBDは、カーリルがAPIシステムを開発します。
                        | カーリルは、図書館蔵書・貸出情報を横断的に高速で検索するサイトを提供しています。
                        | ここで培ったノウハウを活用します。
                        | openBDに掲載する書誌情報・書影は版元ドットコムが収集します。
                        | 版元ドットコムは、会員出版社229社のつくった本の書誌情報・書影をネット上で公開し、書店・取次などに送り届けるシステムをつくる出版社団体です。
                        | さらに会員出版社だけでなく、大手から中小出版社まで、24,747社の約76万タイトルの本の書誌情報、書影、ためし読み、書評掲載情報などをあつめてサイトやAPIで提供しています。
                        | 提供のために、出版社・出版業界・国立国会図書館などからの収集の蓄積を活用して取組みます。
            section
                article
                    h1 API仕様書
            section
                article
                    h1 利用規約
            section
                article
                    h1 運営元
